@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

section#rede-sociais {
    display: flex;
    flex-direction: column;
    float: right;/* OU text-align: right; */
}

section#rede-sociais img {/* OU > a > img */
    width: 50px;/* O HEIGHT TAMBÉM VAI PARA 50PX */
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;/* QUANDO O HOVER ATIVA O CONTEUDO NÃO SE MOVE JUNTO, FICA PARADO */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    opacity: 0.9;
    transition: 0.5s;
}

section#rede-sociais img:hover {
    opacity: 1;
    border: 1px solid rgba(255, 255, 255, 0.862);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.627);
    transition: transform 0.5s, border 1s, opacity 0.2s;
}

section#rede-sociais img:active {
    transform: scale(80%);
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 266px;
}

@media (max-width: 455px) {
    section#rede-sociais {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0%);

        width: 80vw;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
}




